<NotepadPlus>
    <Project name="myshortcuts">
        <File name="cmake-build.bat" />
        <File name="cmake-config.bat" />
        <File name="CMakeLists.txt" />
        <File name="CMakeLists.txt.user" />
        <File name="main.cpp" />
        <File name="np++_workspace.config" />
        <File name="build.md" />
        <File name="ShortcutProvider.cpp" />
        <File name="ShortcutProvider.h" />
        <File name="base64.cpp" />
        <File name="base64.h" />
        <File name="CreateShortCut.cpp" />
        <File name="CreateShortCut.h" />
        <File name="myshortcuts.csv" />
    </Project>
</NotepadPlus>
